/*fonts-------------------------------------*/

@font-face {
  font-family: TitanOne-Regular;
  src: url(./fonts/titan_one/TitanOne-Regular.ttf);
}

@font-face {
  font-family: AvenirLTStd-Roman;
  src: url(./fonts/avenir_ff/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: AvenirLTStd-Book;
  src: url(./fonts/avenir_ff/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: AvenirLTStd-Black;
  src: url(./fonts/avenir_ff/AvenirLTStd-Black.otf);
}

/* Universal Selector-------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

main {
  max-width: 1206px;
  margin: 0 auto;
  float: none;
  text-align: center;
}

.content {
  max-width: 1206px;
  margin: 0 auto;
  float: none;
}

/*header-------------------------------------*/

header {
  position: relative;
  top: 0;
  width: 100%;
  height: 140px;
  background-color: rgb(249, 187, 64);
}

.helpmargin {
  font-family: TitanOne-Regular;
  font-size: 16px;
  margin-left: 18%;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  color: white;
}

.imgPadding {
  vertical-align: middle;
  padding-top: 12px;
}

.smallBold {
  font-family: TitanOne-Regular;
  font-size: 16px;
}

/* search field--------------------------------------*/
.form {
  display: inline;
}

.search-field {
  padding: 5px 5px 5px 15px;
  border: none;
  border-style: ridge;
  border-radius: 10px;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -55px;
}

.search-button img {
  vertical-align: middle;
  width: 65%;
  height: 65%;
  object-fit: cover;
}

/*Nav CSS-------------------------------------------*/

nav {
  text-align: center;
  height: 85px;
  width: 100%;
  background-color: rgb(231, 106, 37);
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  font-family: TitanOne-Regular;
  font-size: 21px;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 30px;
}

.navbutton:hover a {
  color: rgb(21, 71, 148);
}

.navbutton:hover img {
  position: relative;
  color: #3e8e41;
  transform: rotate(180deg);
  animation-name: jump;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}

.subnav-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgb(249, 187, 64);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
}

.subnav-content a:hover {
  background-color: rgb(231, 106, 37);
  color: white;
}

.navbutton:hover .subnav-content {
  display: inline-block;
  vertical-align: bottom;
  padding-top: 25px;
}

/*main pic-------------------------------------------*/

.container {
  position: relative;
  text-align: left;
  color: white;
}

/*special events-------------------------------------------*/

#section {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 20px;
}

#section a {
  text-decoration: none;
  color: black;
}

.spevents {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  width: 18%;
  text-align: right;
  padding-right: 15px;
}

.calendar {
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px 5px 10px;
  border: 2px solid rgb(249, 187, 64);
  background-color: rgb(231, 229, 232);
  border-radius: 25px;
  width: 23%;
  text-align: left;
  margin-left: 10px;
  vertical-align: top;
}

.calendar-date {
  display: inline-block;
  text-align: left;
  margin-left: 15px;
  margin-right: 20px;
}

.calendar-event {
  display: inline-block;
}

.calendar-day {
  font-family: AvenirLTStd-Black;
  font-size: 55px;
  text-align: center;
}

.leadingspace {
  line-height: 2;
}

/*stands out and add-ons------------------------------*/

.standoutsbox {
  position: relative;
  display: inline-block;
  height: 390px;
  padding: 0px 0px 5px 0px;
  border-radius: 25px;
  width: 23%;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
  box-shadow: 0 0 10px rgb(231, 229, 232);
}

.soimage {
  width: 100%;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

.standoutsbox h3 {
  margin-top: 5px;
  margin-left: 15px;
  color: rgb(21, 71, 148);
}

.standoutsbox p {
  margin-top: 5px;
  margin-left: 15px;
}

/*new experience--------------------------*/

.netitle {
  position: absolute;
  top: 5%;
  right: 2%;
}

.mainLM {
  font-family: AvenirLTStd-Black;
  font-size: 24px;
  margin-top: 10px;
}

.container a {
  text-decoration: none;
  color: white;
}

.mainLM:hover {
  position: relative;
  color: rgb(249, 187, 64);
  animation-name: move;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

/*explore more----------------------------*/

.embox {
  position: relative;
  display: inline-block;
  padding: 5px;
  width: 48%;
  text-align: left;
  vertical-align: top;
}

.embox p {
  margin-right: 35px;
}

.embutton {
  float: right;
}

.embutton:hover {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: rgb(21, 71, 148);
  animation-name: move;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

/*other services--------------------------*/

.osbox {
  position: relative;
  display: inline-block;
  height: 460px;
  padding: 0px 0px 5px 0px;
  border-radius: 25px;
  width: 30%;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
  box-shadow: 0 0 10px rgb(231, 229, 232);
}

.osimage {
  width: 100%;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

.osbox h2 {
  margin-top: 5px;
  margin-left: 15px;
  color: rgb(21, 71, 148);
}

.osbox p {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 21px;
}

.ospadding {
  padding: 15px 0px 10px 0px;
}

/*bottom links----------------------------*/

.blcontainer {
  position: relative;
  margin-top: 40px;
  background-color: rgb(231, 229, 232);
  padding: 30px 5px 20px 80px;
}

.blbox {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 31%;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
}

.smallTitle {
  font-family: AvenirLTStd-Black;
  font-size: 18px;
  padding-top: 15px;
  display: inline-block;
}

.footLinks {
  font-family: AvenirLTStd-Book;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

/*footer----------------------------------*/

footer {
  background-color: rgb(249, 187, 64);
  color: rgb(7, 12, 13);
  padding: 10px 0;
  margin-top: 5px;
  width: 100%;
}

.footersocialm {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: 16%;
}

.footerlinks {
  text-align: center;
  list-style-type: none;
  display: inline-block;
  width: 68%;
}

.footerlogo {
  float: right;
  display: inline-block;
  width: 9%;
}

footer ul li {
  display: inline-block;
  margin-left: 28px;
  padding-top: 5px;
  list-style-type: none;
  font-family: AvenirLTStd-Book;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.footerrights {
  text-align: center;
}

/*generic---------------------------------*/

h1 {
  font-family: TitanOne-Regular;
  font-size: 57px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-family: TitanOne-Regular;
  font-size: 33px;
}

h3 {
  font-family: TitanOne-Regular;
  font-size: 23px;
}

h4 {
  font-family: AvenirLTStd-Black;
  font-size: 21px;
}

p {
  font-family: AvenirLTStd-Book;
  font-size: 18px;
}

figcaption {
  font-family: AvenirLTStd-Book;
  font-size: 15px;
  text-align: center;
}

.dateEvents {
  font-family: AvenirLTStd-Black;
  font-size: 55px;
}

.eventsVD {
  font-family: AvenirLTStd-Black;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.blueColor {
  color: rgb(21, 71, 148);
}

.alignRight {
  float: right;
  padding-top: 10px;
}

.button {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.lmbutton {
  font-family: AvenirLTStd-Black;
  font-size: 16px;
  position: relative;
  bottom: 17px;
  text-decoration: none;
  color: black;
}

.button:hover {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: rgb(21, 71, 148);
  animation-name: move;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    right: 0px;
  }
  50% {
    right: 15px;
  }
  100% {
    right: 0px;
  }
}

/*attraction page------------------------------*/

.attraction-title {
  text-align: center;
}

#location1 {
  position: absolute;
  left: 260px;
  top: 200px;
  display: none;
}

#location2 {
  position: absolute;
  left: 600px;
  top: 220px;
  display: none;
}

#location3 {
  position: absolute;
  left: 800px;
  top: 550px;
  display: none;
}

#location4 {
  position: absolute;
  left: 520px;
  top: 370px;
  display: none;
}

#location5 {
  position: absolute;
  left: 780px;
  top: 720px;
  display: none;
}

#location6 {
  position: absolute;
  left: 650px;
  top: 550px;
  display: none;
}

.attraction-filter-button-container {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.attraction-filter-button {
  font-family: TitanOne-Regular;
  cursor: pointer;
  background-color: white;
  color: rgb(21, 71, 148);
  border: 2px solid rgb(249, 187, 64);
  padding: 15px 32px;
  font-weight: 900;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.attraction-filter-button:hover {
  box-shadow: 0 0 40px 40px rgb(249, 187, 64) inset;
  transition: 0.5s;
  color: white;
}

hr.solid {
  border-top: 1px solid #bbb;
  margin-top: 20px;
}

.attraction-card {
  display: flex;
  margin-top: 20px;
  position: relative;
}

.attraction-card-img {
  position: relative;
  top: 0;
}

.attraction-card-img:hover {
  top: -15px;
  transition: 0.3s;
}

.attraction-card-right {
  margin-left: 25px;
  text-align: left;
}

.attraction-card-title {
  color: rgb(21, 71, 148);
  padding-top: 20px;
  padding-bottom: 10px;
}

.typeofride {
  font-size: 14px;
  padding-top: 10px;
}

/* attraction button location------------------------------*/

.attraction-map-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

.attraction-map-button:hover {
  /* Start the vibrate animation with duration 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

/* ticket-pricing------------------------------*/

.pricing-options {
  text-align: center;
  padding-top: 18px;
  color: rgb(21, 71, 148);
}

.tickets-container {
  position: relative;
  display: inline-block;
  height: 650px;
  padding: 0px 0px 5px 0px;
  border-radius: 25px;
  width: 23%;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
}

.tickets-container:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background-color: darkgrey;
}

.ticket-prices {
  padding-top: 14px;
  text-align: center;
  margin: 5px;
  font-size: 21px;
}

.ticket-prices b {
  font-family: AvenirLTStd-Black;
  text-align: center;
  margin: 5px;
  font-size: 21px;
}

.tickets-features {
  text-align: left;
  margin-left: 10px;
}

.add-to-cart-button-container {
  justify-content: space-between;
  margin: 20px;
  text-align: center;
}

.add-to-cart-button {
  cursor: pointer;
  font-family: TitanOne-Regular;
  background-color: rgb(249, 187, 64);
  padding: 15px 15px;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  border-radius: 25px;
  border: none;
  margin-top: 7px;
  margin-bottom: 6px;
  color: black;
  text-decoration: none;
}

.tickets-container ul {
    font-family: AvenirLTStd-Book;
    font-size: 20px;
    margin-left: 28px;
    margin-right: 15px;
    margin-top: 10px;
}

.restriction-container {
  position: absolute;
  margin-left: 10px;
  bottom: 1px;
}

.restriction {
 font-size: 12px;
}


 /* F&Q Section------------------------------*/

.faq-header{
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

/* F&Q Section  */
.faq-header {
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
  margin-top: 10px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

/* F&Qs Accordions------------------------------*/
.questions {

  font-family: AvenirLTStd-Book;
  font-size: 24px;
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
  color: rgb(21, 71, 148);
}


.answers {
  font-size: 16px;
  text-align: left;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.panel:checked ~ .answers {
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

.panel:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}


/* keyframes--------------------------*/
@keyframes jump {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes move {
  0% {
    right: 0px;
  }
  50% {
    right: 15px;
  }
  100% {
    right: 0px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Main Slider--------------------------*/
/* This code is an adaptation of: codeconvey.com/pure-css-slideshow-autoplay-without-javascript/*/

/* Slider */
#slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@keyframes load {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.slides {
  width: 400%;
  height: 100%;
  position: relative;
  -webkit-animation: slide 30s infinite;
  -moz-animation: slide 30s infinite;
  animation: slide 30s infinite;
}

.slider {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 100%;
}
.image img {
  width: 100%;
  height: 100%;
}

/* Contents */
.contentSlide {
  max-width: 1206px;
  margin: 0 auto;
  float: none;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  text-align: left;
}

.content-txt {
  position: absolute;
  bottom: 15%;
  -webkit-animation: content-s 7.5s infinite;
  -moz-animation: content-s 7.5s infinite;
  animation: content-s 7.5s infinite;
}

.content-txt h1 {
  position: relative;
  left: 25%;
  font-family: TitanOne-Regular;
  font-size: 57px;
  padding-bottom: 5px;
  text-shadow: 2px 2px 6px black;
}

.content-txt p {
  font-family: AvenirLTStd-Roman;
  font-size: 28px;
  text-shadow: 2px 2px 4px black;
  position: relative;
  left: 25%;
}

/* Switch */
.switch {
  width: 120px;
  height: 10px;
  position: absolute;
  bottom: 50px;
  z-index: 99;
  left: 30px;
}
.switch > ul {
  list-style: none;
}
.switch > ul > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}
.switch ul {
  overflow: hidden;
}
.on {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(249, 187, 64);
  position: relative;
  -webkit-animation: on 30s infinite;
  -moz-animation: on 30s infinite;
  animation: on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}
@-moz-keyframes slide {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}
@keyframes slide {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}

@-webkit-keyframes content-s {
  0% {
    left: -1300px;
  }
  10% {
    left: 0px;
  }
  30% {
    left: 0px;
  }
  40% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  60% {
    left: 0px;
  }
  70% {
    left: 0;
  }
  80% {
    left: -1300px;
  }
  90% {
    left: -1300px;
  }
  100% {
    left: -1300px;
  }
}
@-moz-keyframes content-s {
  0% {
    left: -1300px;
  }
  10% {
    left: 0px;
  }
  30% {
    left: 0px;
  }
  40% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  60% {
    left: 0px;
  }
  70% {
    left: 0;
  }
  80% {
    left: -1300px;
  }
  90% {
    left: -1300px;
  }
  100% {
    left: -1300px;
  }
}
@keyframes content-s {
  0% {
    left: -1300px;
  }
  10% {
    left: 20px;
  }
  15% {
    left: 0px;
  }
  30% {
    left: 0px;
  }
  40% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  60% {
    left: 0px;
  }
  70% {
    left: 0;
  }
  80% {
    left: -1300px;
  }
  90% {
    left: -1300px;
  }
  100% {
    left: -1300px;
  }
}

@-webkit-keyframes on {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}

@-moz-keyframes on {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}

@keyframes on {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}
